@import url('satoshi.css');



:root{
    --colore-text: #182126;
    --colore-bgc: #FEFEF3;
    --color-accent: #880808;

}

body{
    list-style: none;
    font-family: 'Satoshi-Medium';
    background-color: var(--colore-bgc);
    
}

/* preloader----------------- */
#preloader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--colore-bgc);
    z-index: 200;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preloader img{
    display: block;
    width: 2.5%;
}

#loading{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    top:380px;
}

/* main styles---------------- */

h1{
    font-size: 10rem;

}
h2{
    font-size: 4rem;
}
h3{
    font-size: 1rem;
    font-family: 'Satoshi-MediumItalic';
    font-style: italic;
}
h4{
    font-family: 'Satoshi-MediumItalic';
    font-style: italic;
    font-size: 2rem;
}
h5{
   
    font-family: 'Satoshi-Regular';
    font-style: normal;
    font-size: 4.5rem;
}

h6{
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    color:var(--colore-text);
    

}
.nav--item{
    font-size: 1rem;
}

p{
    width: 50%;  
    text-align: center;
    font-size: 2rem;
    line-height:2.25rem ;
}
.arrow{
    font-size: 6rem;
    text-align: right;
    padding-right: 20px;
    color:var(--colore-text);
}

img {
    width: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
    filter: grayscale(15%);
  }

*{
    /* border: solid 1px red; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1rem;
    /* opacity: 0; */
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 80vw;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
    margin-bottom: 100px;
}


/* header---------------------- */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;
    top: 0;
}

.sticky{
    width: 100vw;
    position: fixed;
    top: 0;
}


/* cursore--------------- */

html {
    cursor: none;
}
.pointer {
    position: absolute;
    height: 480px; top:100px;
    width: 480px; left:50%;
    pointer-events: none;
    z-index: 100;
    opacity: 0.7;
}

.pointer img {
    width: 75px;
    animation: rotation 4.5s infinite linear;
    transition: top 1s, left 1s;
    transition-timing-function: ease-out;

}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  /* menu---------------- */
  .board-menu{
    width: 75%;
    height:100%;
    left:-100%;
    top:0px;
    z-index: 25;
    position:fixed;
    background-color: rgba(0,0,0,0.7);
    filter: blur(35);
    transition: 0.7s ease-in-out;
}
.open{
    left:0px;

}
#button{
    cursor: pointer;
}

#fondo{
    cursor: pointer;
}
/* <!-- prima sezione------------------> */
.s--1{
    gap:170px;
    margin-bottom: 300px;
}

#intro--title{
    text-align: left;
    width: 65%;
    /* margin-right: %; */
    margin-left: 0%;
    padding-top: 10%;
    line-height: 12rem;
    font-size: 16rem;
    left: 0;
}
#intro--title span{
    line-height: 12rem;
    font-size: 14rem;
  color: var(--colore-text);
  /* font-style: italic; */

}
.container{
    margin-top: 210px;
    display: flex;
    font-display: row;
    gap:0px;
    position: static;
    z-index: 20;
}

.abstract{

    width: 60%;
    text-align: left;
}
/* <!-- seconda sezione-----------------------> */

.s--2{
    background: url('./images/globo.jpg');
    background: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.6)), url("./images/globo.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.6)), url("./images/globo.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    gap:20px;
}

.s--2 h1, .s--2 p{
    color: var(--colore-bgc);
}

.viaggiatori--numero{
    font-size: 14rem;
    color:var(--colore-2);
    font-family: 'Satoshi-Regular';
}

.viaggiatori--unit{
    font-size: 2rem;
    text-transform: uppercase;
}
.campione{
    width: 20%;
    left: 5%;
    top: 5%;
    position: absolute;
    text-align: left;
}


/* <!-- terza sezione-----------------------> */

.s--3{
    height: 200vh;
}
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
 
}


.percentage{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    position: absolute;
    z-index: 80;
    

}

.percentage p{
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: left;
    width: 100%;
    padding-left: 3%;
}

#prima{
    left:10%;
    top:10%;

}

#seconda{
    right: 10%;
    
}

#terza{
    left:10%;
    top:60%;
}

#quarta{
    right: 10%;
    top: 80%;
    
}



/* <!-- quarta sezione--------------------------> */
.s--4{
    background: url("./images/architettura-brutta.png");  
    background: url("./images/architettura-brutta.png");
    background-position: center center;
    background-size: cover;
    background-size: cover;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}

.s--4 .viaggiatori--numero{
    font-size: 30rem;
    position: absolute;
    top: 5%;
}
.s--4 .viaggiatori--unit{
    position: absolute;
    bottom:24%;
    color: var(--colore-bgc);
}


/* <!-- quinta sezione--------------------------> */
.s--5{
    height: 100vh;
}

#seconda{

    bottom: 20%;
}

/* sesta sezione---------------------- */
.s--6{
    height: 100vh;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
    padding-right: 10%;
    gap:100px;
    background-color: var(--colore-text);
    color: var(--colore-bgc);
    justify-content: flex-start;
}

 .carol{
     font-size: 20rem;
     text-align: center;
     width: 200%;
     margin-top: 50px;

 }


/* Rivela testo host animazione  */

/* chiusar ainmzaione  */



/* tre colonne sezione------------------------------ */
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
    justify-content: center;
    align-items: center;


}
.dat-el{
    width: 100%;


}

/* settima sezione---------------------------- */
.s--7{
    height: 155vh;
    gap:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
    margin-top: 50px;

}

.carol--viaggi{
    line-height: 10.25rem;

}

#purpose-travel{
    margin-left: 0 !important;
    position: static;
    left: 0px;
    top: 0px;
    font-size: 11rem;
    width: 100%;
    text-align: left;
}

.s--7 .main{
    width: 90% !important;
    margin-top: 100px;
    gap: auto;
}
.s--7 .main p{
    text-transform:initial;
    margin-top: 10%;
    padding-top: 5%;
    padding-right: 8%;
    padding-left: 12%;
    line-height: 1.5rem;
    font-size: 1.25rem;

}
.s--7 .percentage img{
    width: 80%;
}

.s--7 .main div:nth-child(even) .item{
    transform: rotate(3deg);
}

.s--7 .main div:nth-child(3) .item{
    transform: rotate(-2deg);
}

.line{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: var(--colore-text);
}

/* ottava sezione----------------------- */
.s--8{
    height: 150vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 75%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.s--8 .arrow{
    width: 20%;
}

.main-vert{
    flex-direction: column;
    gap:400px;
}

/* nona sezione------------------------- */
.s--9{
    background-color: var(--colore-text);
    color: var(--colore-bgc);
    font-size: 2rem;
    line-height: 2.25rem;
    width: 100%;
    height: 150vh;
    margin-left: auto;
    margin-right: auto;
}

.titolo-dati{
    font-size: 3rem;
    text-align: center;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 70px;
    line-height: 3.25rem;
}

.titolo-dati span{
    font-size: 1.25rem;
}

.dati-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
}

.dat-item  {
    width: 33.3%;
    padding-left: 5%;
    padding-right: 5%;
}

.dat-item p{
    font-size: 1rem;
    line-height: 1.25rem;
    width: 100%;
    text-align: left;
    padding-left: 10%;

}
/* decima lezione----------------------------  */
.s--10{
    height: 100vh;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.s--10 .titolo-dati{
    /* top: 20px; */
}

.s--10 ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
}
.s--10 ul li{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px var(--colore-text);
}

.dato-info{
    font-size: 2rem;
   line-height: 2.25rem;
   padding-top: 20px;
   text-align: left;
   width: 75%;
}


  /* footer---------------------------- */

  footer{
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      gap: 400px;
      padding-bottom: 150px;

  }
  footer h4{
      width: 60%;    
  }
  footer h3{
      margin-bottom: 0;
  }
  .info{
      width: 80%;

  }
  .info ul{
      width: 100%;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      display: flex;

  }
  .info ul li{
      margin-left: 100px;
      margin-right: 100px;
  }


  /* barra di progressione coordinate */

  #coordinate{
    height: calc(100vh - 200px);
    
  }
  .progress-container {
    width: 1px;
    height: calc(100vh -200px);
    background: black;
    opacity: 0.1;

  }
  .progress-bar {
    width: 1px;  
    height: 0%;
    background-color: var(--colore-bgc);
  }

  .coordinata{ 
      width: 100%;
      font-size: 0.5rem;
      line-height: 0.75rem;
      color: var(--colore-text);
      transform: rotate(90deg);
  }
  .barra{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -25px;
    z-index: 20;
    height: 100vh;
    align-items: center;
    padding-top:50px;
    flex-wrap: wrap;
    gap: 50px;
  }


  #credits{
        font-size: 0.5rem;
        height: 30px;
        width: 100%;
        text-align: center;
        position:sticky;
        bottom: 0;
        display: block;
  }
  /* Inizio Media querie */

  @media screen and (max-width: 600px) {

    #preloader img{
        display: block;
        width: 5%;
    }

    body{
        overflow-x: hidden;
        width: 100%;
        font-size: 10px;

    }
    p{
        width: 100%;  
        text-align: center;
        font-size: 1rem;
        position: static;
        z-index: 10;
        line-height: 1.5rem;
    }
    .abstract{
        font-size: 1rem;
        width: 100%;
    }
    h1{
        font-size: 3rem;
    }

    .section{
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-bottom: 20px;
    }

    .arrow{
        font-size: 3rem;
        width: 10%;
    }

    .container{
        width: 100%;
         gap:15px
    }

    section.horizontal .item{
        padding: 100px 0px;
        flex: 0 0 300px;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    section.horizontal .item img{
        width: 100%;
    }
    /* header---------------------- */
    .sticky{
        position: static;
    }

   /* <!-- prima sezione------------------> */

   #intro--title{
        line-height: 6.5rem;
        font-size: 6.25rem;
        width: 120%;
        margin-left: 20%;
        padding-left: 20px;
}
#intro--title span{
    line-height: 6.5rem;
    font-size: 6.25rem;
  color: var(--colore-text);
  /* font-style: italic; */

}

    .container-magic{
        width: 100%;
        z-index: 30;
    }
    .borraccia{
        width: 50%;
        right: 20%;
    }

    /* seconda sezione------------ */
    .viaggiatori--numero{
        font-size: 5.5rem;
        font-family: 'Satoshi-Regular';
    }
    
    .viaggiatori--unit{
        font-size: 1rem;

    }
    .mobile-f{
        font-size: 4rem;
        top: 100px;
    }
    .campione{
        width: 55%;
        left: 10%;

    }
    .s--2{
        margin-left: 0;
        gap:0px;
    }

    .percentage{
       
        width: 100vw;
        padding: 5%;
        padding-right: 10%;
        padding-left: 10%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        position: static;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .percentage h1{
        font-size: 6rem;
        text-align: left;
    }

    /* quarta sezione------------------- */
    .s--4{
        margin-left: 0;
    }
    .s--4 .viaggiatori--numero{
        font-size: 11rem;
        top: 15%;
    }
    .s--4 .viaggiatori--unit{
        width: 80%;
        bottom: 35%;
    }

    #seconda{

        bottom: 25%;
    }

    .s--6{
        margin-left: 0;
        height: 200vh;
        padding-left: auto;
        padding-right: auto;
        display: block;
    }

    #carol{
        font-size: 8rem;
        width: 50%;
        margin-left: 25%;
        /* margin-top: 250px; */
        padding-top: 50px;
        padding-left: 8%;
        text-align: center;
        line-height: 8.5rem;
        transform: translate(-50%);
        margin-bottom: 50px;
        
    }

    .main, .main-2{
        flex-direction: column;
        gap: 20px;
        width: 90%;
        align-items: start;
    }

    .main p, .main-2 p{
        width:85% !important;
    }

  
    .s--7{
        margin-left: 5%;
        width: 90%;
        padding-left: 5%;
        height: 400vh;
        display: block;
        margin-bottom: 30px;

    }
    .s--7 .percentage img{
        width: 75%;
    }

    .s--7 .main p{
        padding-right: 3%;
        padding-left: 3%;
        margin-top: 5%;
        padding-top: 0%;
        font-size: 1.5rem;
        line-height: 1.75rem;
    
    }
    #purpose-travel{
        font-size: 3rem;
    }

    .testo-carosello p{
        font-size: 1.5rem;
        transform: translateY(-40%);
        line-height: 2rem;
    }
    .line{
        display: none;
    }


    /* ottava sezione-------------- */
    .s--8{
        height: 200vh;
        left: 0;
        flex-direction:column-reverse;
        width: 100%;
        /* margin-top: 100px; */
        top: 50;
        padding-top: 20px;
        margin-top: -30px;
    }
    .s--8 .abstract{
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .main-vert{
        gap: 0px; 
    }

    .s--8 .dat-el{
        margin-left: auto;
        margin-right: auto;
        padding-left: 5%;
    }

    /* .nona sezione _------------------ */

    .s--9{
        margin-left: 0px;
        padding-top: 50px;
        height: 240vh;
        padding-left: auto;
        padding-right: auto;
    }
    .s--9 .titolo-dati{
        font-size: 1.75rem;
        line-height: 2rem;
        text-align: left;
        top: 35px;
    }
    .dati-container{
        flex-direction: column;

    }
    .dat-item{
        width: 90%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .dat-item h1{
        font-size: 6rem;
    }

    /* nona sezione mobile-------------- */
  
    #travel-impact{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .barra{
        left:-35px;
        padding-top:60px;
    }

    /* decima sezione */

    .s--10{
        font-size: 1rem;
        width: 100%;
        margin-left: 0px;
        padding-left: auto;
        padding-right: auto;
        height: 80vh;
        padding-top: 200px;
        margin-bottom: 100px;
    }
    h5{
        font-size: 6rem;
        
     }
     .dato-info{
         font-size: 1rem;
        line-height: 1.25rem;
        padding-top: 20px;
        
    }
    .s--10 ul{
    }
    .s--10 ul li{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: solid 1px var(--colore-text);
    }
    .s--10 h6{
         font-size: 8rem;
         left: 0.25rem;
         display: none;
     }
     .s--10 .titolo-dati{
        
        padding-top: 420px;
        font-size: 1.75rem;
        line-height: 2rem;
        text-align: left;
        top: 0;
    }
   
    footer{
        width: 100vw;
        height: 100vh;
        margin-top: 500px;
        gap: 100px;

    }
    footer h4{
        width: 60%; 
        font-size: 1rem;   
    }
    footer h3{
        margin-bottom: 0;
        font-size: 0.5rem;
    }
    .info{
        width: 100%;
        height: 100%;


    }


    /* resize e repositioning delle immagini */

    .image-two{
        display: none;
    }


    .pianta{
        right: -30%;
        top: 20%;
        width: 50%;
    }
    .pianta-sx{
        left: -5%;
        width: 70%;
    }
    .mask{
        width: 60%;
    }
    .dollaro-mask{
        width: 70%;
    }
    .franco-1, .franco-2, .franco-3{
        width: 25%;
    }
    .edimburgo{
        width: 50%;
    }
    .immigration{
        width: 50%;
        display: none;
    }
    .giris{
        width: 90%;
        right: -50%;
        bottom: 10%;
    }
    .china{
        width: 70%;
        top: 3%;
        right: -17.5%;
    }
    .zimbaue2{
        width: 30%;
        top: 47%;
        left: 85%;
  
   }

   .cartolina-sopra{
    width: 100%;
    bottom: -7%;
    left: 5%;
    
}
   .cartolina-sotto{
        width: 100%;
        bottom: -8%;
        left: 10%;
    }
    /* chiusura della media querie */

}